<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.360APP"
        tools:targetApi="31">
        <activity
            android:name=".Orientation_Exam2"
            android:exported="false" />
        <activity
            android:name=".Orientation_Exam1"
            android:exported="false" />
        <activity
            android:name=".Orientation_pdf"
            android:exported="false" />
        <activity
            android:name=".PreTrip_Inspection_Main"
            android:exported="false" />
        <activity
            android:name=".Vehicle_PreTrip_Inspection"
            android:exported="false" />
        <activity
            android:name=".Vehicle_PreTrip_Inspection_Internal"
            android:exported="false" />
        <activity
            android:name=".Vehicle_PreTrip_Inspection_Internal_next"
            android:exported="false" />
        <activity
            android:name=".Vehicle_PreTrip_Inspection_next"
            android:exported="false" />
        <activity
            android:name=".Vehicle_PreTrip_Inspection_Next_Next"
            android:exported="false" />
        <activity
            android:name=".Daily_Driver_Assessment"
            android:exported="false" />
        <activity
            android:name=".DailyDriverAssessmentNext"
            android:exported="false" />
        <activity
            android:name=".DailyDriverAssessmentNextNext"
            android:exported="false" />
        <activity
            android:name=".Orientation_next_next_next"
            android:exported="false" />
        <activity
            android:name=".Orientation_next_next"
            android:exported="false" />
        <activity
            android:name=".Orientation_next"
            android:exported="false" />
        <activity
            android:name=".Orientation"
            android:exported="false" />
        <activity
            android:name=".PostProject_SuervisingOS_Activity"
            android:exported="false" />
        <activity
            android:name=".ThroughOut_SupervisingOS_Activity"
            android:exported="false" />
        <activity
            android:name=".FirstDay_SupervisingOS_Activity"
            android:exported="false" />
        <activity
            android:name=".PostProject_WorkA_Activity"
            android:exported="false" />
        <activity
            android:name=".ThroughOut_WorkA_Activity"
            android:exported="false" />
        <activity
            android:name=".FirstDay_WorkA_Activity"
            android:exported="false" />
        <activity
            android:name=".supervisingOnSiteActivity"
            android:exported="false" />
        <activity
            android:name=".workingAloneActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseTwoActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>